/* no system buttons _ [ ] X */

.mod-right-split .workspace-tab-header-container-inner {
  width: calc(100% - 2px);
}

.sidebar-toggle-button.mod-right {
    position: fixed;
    right: 0;
    padding: 4px;
    z-index: 22;
}

.mod-windows, .mod-linux {
    --frame-right-space: 24px;
}

.mod-linux .titlebar-button-container, .mod-windows .titlebar-button-container {
    display: none;
}
/*
.mod-right-split {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 11;
  transition: var(--anim-duration-none) !important;
}
*/
