/* [Author: Kepano](https://www.reddit.com/r/ObsidianMD/comments/y60yq5/comment/isowh0y/?utm_source=share&utm_medium=web3x&utm_name=web3xcss&utm_term=1&utm_content=share_button) */
body {  
	--tag-size: inherit;
	--tag-color: var(--text-accent);
	--tag-color-hover: var(--text-accent);
	--tag-background: transparent;
	--tag-background-hover: transparent;
	--tag-padding-x: 0;
	--tag-padding-y: 0;
	--tag-radius: 0;
}

